$main: #E9E9E9;

.books-container {
	font-size: 16px;
	background-color: $main;
	max-width: 90em;
	width: 100%;
	margin: 8em auto 4em;
	animation: slide-in .75s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.books-header {
	background-color: #FFF;
}

.books-order-by {
	display: block;
	margin-left: auto;
	width: 10em;
}

.book-list {
	padding: 1em;
}



@keyframes slide-in {
	from {
		transform: translateY(-12em);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}