.book-card {
  margin: 1em;

  &__content {
    display: flex;
    flex-direction: row;
  }
}

.book-card-delete-action {
  margin-left: .5em;
  align-self: flex-end;
}

.book-publish-date {
  color: #0080F9;
}